@model Sahibinden.Entities.Car

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddDate" class="control-label"></label>
                <input asp-for="AddDate" class="form-control" />
                <span asp-validation-for="AddDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fuel" class="control-label"></label>
                <input asp-for="Fuel" class="form-control" />
                <span asp-validation-for="Fuel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gear" class="control-label"></label>
                <input asp-for="Gear" class="form-control" />
                <span asp-validation-for="Gear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Km" class="control-label"></label>
                <input asp-for="Km" class="form-control" />
                <span asp-validation-for="Km" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnginePower" class="control-label"></label>
                <input asp-for="EnginePower" class="form-control" />
                <span asp-validation-for="EnginePower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wheel" class="control-label"></label>
                <input asp-for="Wheel" class="form-control" />
                <span asp-validation-for="Wheel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelID" class="control-label"></label>
                <select asp-for="ModelID" class="form-control" asp-items="ViewBag.ModelID"></select>
                <span asp-validation-for="ModelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealerName" class="control-label"></label>
                <input asp-for="DealerName" class="form-control" />
                <span asp-validation-for="DealerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DealerPhone" class="control-label"></label>
                <input asp-for="DealerPhone" class="form-control" />
                <span asp-validation-for="DealerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
